<div class="main-content">
  <div>
  <div class="ui form">
    <div class="ui info message">
      <div class="header">We had some issues</div>
      <ul class="list">
        <li>Please enter your first name</li>
        <li>Please enter your last name</li>
      </ul>
    </div>
    <!-- Group selection -->
    <div>
    <div class="ui selection dropdown paper">
  	<input type="hidden" name="group">
  	<i class="dropdown icon"></i>
	  	<div class="default text">그룹선</div>
	  	<div class="menu">
	    <div class="item" data-value="male">Java conference</div>
	    <div class="item" data-value="female">Microsoft Conference</div>
	  	</div>
	</div>
	<div class="ui darkgray submit button"><i class="add icon"></i></div>
	<div class="ui darkgray submit button"><i class="edit icon"></i></div>
	<div class="ui darkgray submit button"><i class="remove icon"></i></div>

      <div class="field">
        <input placeholder="그룹명을 추가해 주세요" type="text">
      </div>
    </div>
    <!-- End of Group Selection-->
    <!-- Paper selection -->
    <div>
    <div class="ui selection dropdown paper">
  	<input type="hidden" name="title">
  	<i class="dropdown icon"></i>
	  	<div class="default text">설문제목</div>
	  	<div class="menu">
	    <div class="item" data-value="male">Java survey</div>
	    <div class="item" data-value="female">Microsoft survey</div>
	  	</div>
	</div>
	<div class="ui darkgray submit button"><i class="add icon"></i></div>
	<div class="ui darkgray submit button"><i class="edit icon"></i></div>
	<div class="ui darkgray submit button"><i class="remove icon"></i></div>

      <div class="field">
        <input placeholder="설문지 제목을 입력해 주세요." type="text">
      </div>
    </div>
    <!-- End of Paper Selection-->
    <!-- Time Limit selection -->
    <div>
    <div class="ui selection dropdown paper">
  	<input type="hidden" name="time">
  	<i class="dropdown icon"></i>
	  	<div class="default text">설문시간 설정</div>
	  	<div class="menu">
	    <div class="item" data-value="male">20</div>
	    <div class="item" data-value="female">10</div>
	  	</div>
	</div>

	<div class="ui toggle checkbox">
	  <input type="checkbox" name="pet">
	  <label></label>
	</div>
	<label>자동실행 여부</label>	

    <div class="ui selection dropdown paper">
  	<input type="hidden" name="papertype">
  	<i class="dropdown icon"></i>
	  	<div class="default text">설문유형</div>
	  	<div class="menu">
	    <div class="item" data-value="male">Yes or No</div>
	    <div class="item" data-value="female">Selection</div>
	    <div class="item" data-value="female">Writing</div>
	  	</div>
	</div>
    </div>
    <!-- End of Time Limit Selection-->
   <!-- Directive text selection -->
    <div>
    <div class="ui selection dropdown paper">
  	<input type="hidden" name="directive">
  	<i class="dropdown icon"></i>
	  	<div class="default text">지시문 선택</div>
	  	<div class="menu">
	    <div class="item" data-value="male">1. 본세미나는 유익했습니까?</div>
	    <div class="item" data-value="female">2. 가장 흥미있었던 세션은 무엇입니까?</div>
	  	</div>
	</div>
	<div class="ui darkgray submit button"><i class="add icon"></i></div>
	<div class="ui darkgray submit button"><i class="edit icon"></i></div>
	<div class="ui darkgray submit button"><i class="remove icon"></i></div>

      <div class="field">
        <input placeholder="지시문을 입력해 주세요" type="text">
      </div>
    </div>
    <!-- End of Directive text Selection-->   
   <!-- Answer type selection -->
    <div>
    <div class="ui selection dropdown paper">
  	<input type="hidden" name="answertype">
  	<i class="dropdown icon"></i>
	  	<div class="default text">답변유형선택</div>
	  	<div class="menu">
	    <div class="item" data-value="male">20</div>
	    <div class="item" data-value="female">10</div>
	  	</div>
	</div>
    <div class="ui selection dropdown paper">
  	<input type="hidden" name="questioncount">
  	<i class="dropdown icon"></i>
	  	<div class="default text">설문항목수</div>
	  	<div class="menu">
	    <div class="item" data-value="male">1</div>
	    <div class="item" data-value="female">2</div>
	    <div class="item" data-value="female">10</div>
	  	</div>
	</div>
    </div>
    <!-- End of Answer type Selection--> 
    <!-- answer -->
     <div class="field">
        <input placeholder="설문문항에 대한 정답을 입력해 주세요." type="text">
      </div>    
    <!-- End of answer -->
    <!-- writting question area -->
    	<div class="ui darkgray submit button"><i class="add icon"></i></div>
	<div class="ui darkgray submit button"><i class="edit icon"></i></div>
	<div class="ui darkgray submit button"><i class="remove icon"></i></div>
    <div class="row">
        <div class="column">
    		<div class="ui ribbon label">설문별 선택문항 작성하기</div>
    		<p>1. 본 세미나가 유익했습니까?</p>
    		<p>a. 매우만족 </p>
    		<p>b. 보통 </p>
    		<p>c. 불만 </p>
    	</div>
    </div>
     <div class="field">
        <input placeholder="설문문항에 대한 선택 지문를 작성해 주세요" type="text">
      </div>    
    <!-- End of writting question area -->
    <div class="ui darkgray submit button">8902</div>
    <div class="ui red submit button">Start</div>
    <div class="ui darkgray submit button">Preview</div>
    <div class="ui darkgray submit button"><i class="save icon"></i></div>
    <div class="ui darkgray submit button"><i class="remove icon"></i></div>
  </div>
</div>
</div>