

<div class="main-content" ng-controller="AppSurveyPaperCtrl">
  <div class="ui form" ng-controller="AppCodeManagerCtrl">
    <div class="ui info message">
      <div class="header">We had some issues</div>
      <ul class="list">
        <li>Please enter your first name</li>
        <li>Please enter your last name</li>
      </ul>
    </div>
    <div id="groupbox">
    <!-- 그룹정보 추가 및 선택 -->
      <select ui-select2 ng-model="papers.selGroup" ng-change="changedGroup()" data-placeholder="그룹선택" ng-required="true" ng-options="type.name for type in groupinfo">
          <option value=""></option>
          <!--
          <option ng-repeat="group in groupinfo" value="{{group.code}}">{{group.name}}</option>
          -->
      </select>     

  	<div class="ui red submit button" ng-click="add()">
    <i class="add icon"></i></div>
  	<div class="ui darkgray submit button" ng-click="update()"><i class="edit icon"></i></div>
  	<div class="ui darkgray submit button" ng-click="delete()"><i class="remove icon"></i></div>

      <div class="field">
        <input placeholder="그룹명을 추가해 주세요" type="text" ng-model="groupinfo.name" value="{{grpName}}">{{errorGroup}}
      </div>
    </div>
    <!-- End of Group Selection-->
    <!-- 설문지 추가 및 선택 -->
      <div id="paperbox" class="paperbox">
      <select ui-select2 ng-model="papers.selPaperType" ng-change="changedPaperType()" data-placeholder="설문제목 선택" ng-required="true" ng-options="type.name for type in paper_type">
          <option value=""></option>
         <!-- <option ng-repeat="paper in paper_type" value="{{paper.paper_type_code}}">{{paper.name}}</option> -->
      </select>    

	<div class="ui red submit button" ng-click="addPaperType()"><i class="add icon"></i></div>
	<div class="ui darkgray submit button" ng-click="updatePaperType()"><i class="edit icon"></i></div>
	<div class="ui darkgray submit button" ng-click="deletePaperType()"><i class="remove icon"></i></div>

  <div class="field">
        <input placeholder="설문지 제목을 입력해 주세요." type="text" ng-model="paper_type.name" value="{{ptypeName}}">{{errorPaperType}}
   </div>

    <!-- End of Paper Selection-->
    <!-- 제한시간 선택 -->
    <select ui-select2 ng-model="papers.limit_time" data-placeholder="풀이시간 선택 ">
        <option value="0">제한시간선택</option>
        <option value="10">10분</option>
        <option value="20">20분</option>
        <option value="30">30분</option>
    </select>

	<div class="ui toggle checkbox">
	  <input type="checkbox" name="pet">
	  <label></label>
	</div>
  <!--<button button-toggle="assignableModelExpression">My button</button>-->
	<label>자동실행</label>	

    <!-- 설문유형 -->
    <select ui-select2 ng-model="papers.questionType" data-placeholder="설문유형 선택">
        <option value="0">설문유형</option>
        <option value="P001">설문조사</option>
        <option value="P002">평가</option>
    </select>
      <div class="ui red submit button" ng-click="addPapers()"><i class="save icon"></i></div>
  </div>

   <!-- Directive text selection -->
    <div id = "directive">
      <select ui-select2 ng-model="papersDirect.selDirectiveType" ng-change="changedDirectiveType()" data-placeholder="지시문 선택" ng-required="true" ng-options="type.content for type in papersDirect">
          <option value=""></option>
          <!--
          <option ng-repeat="directive in papersDirect" value="{{directive.directive_no}}">{{directive.content}}</option>
          -->
      </select>       

	<div class="ui red submit button" ng-click="addDirective()"><i class="add icon"></i></div>
	<div class="ui darkgray submit button" ng-click="updateDirective()"><i class="edit icon"></i></div>
	<div class="ui darkgray submit button" ng-click="delDirective()"><i class="remove icon"></i></div>

      <div class="field">
        <input placeholder="지시문을 입력해 주세요" type="text" ng-model="papersDirect.contents">
      </div>

    <!-- End of Directive text Selection-->   
   <!-- Answer type selection -->

    <!-- 답변유형 -->
    <select ui-select2 ng-model="papersDirect.questionType" data-placeholder="답변유형선택">
        <option value="0">답변유형</option>
        <option value="S001">선택형</option>
        <option value="S002">OX</option>
        <option value="S003">서술형</option>
    </select>

  </div>
    <!-- End of Answer type Selection--> 
    <!-- answer -->
  <div id="answer">
      <div class="row">
        <div class="column">
        <div class="ui ribbon label">설문별 선택문항 작성하기</div>
      </div>
      <br>
    </div>        
    <!-- writting question area -->
      <div class="ui red submit button" ng-click="addQuestionItem()"><i class="add icon"></i></div>
      <div class="ui darkgray submit button" ng-click="updateQuestionItem()"><i class="edit icon"></i></div>
      <div class="ui darkgray submit button" ng-click="delQuestionItem()"><i class="remove icon"></i></div>

     <div class="field">
        <input placeholder="설문문항에 대한 선택 지문를 작성해 주세요." type="text" ng-model="questionItems.questionTitle">
      </div>    
      <!-- 설문작성 리스트 --> 
        <p>[질의]{{papersDirect.contents}}</p>
    		<p ng-repeat="item in questionItems">{{item.question}}</p>

     <div class="field">
        <input placeholder="해당 지문에 대한 정답을 작성해 주세요" type="text" ng-model="questionTitle">
      </div>    
    </div>
    <!-- End of writting question area -->
    <div class="ui darkgray submit button" ng-click="goQuestionList()">{{myPaperId}}</div>
    <div class="ui red submit button"  ng-click="goQuestionList()">Start</div>
    <div class="ui darkgray submit button">Preview</div>
    <div class="ui darkgray submit button"><i class="save icon"></i></div>
    <div class="ui darkgray submit button"><i class="remove icon"></i></div>

</div>
</div>

