<div class="main-content">
<!--<div class="main-content"  ng-controller="AppSurveyPaperlistCtrl">-->
<div class="ui form segment" ng-controller="AppCodeManagerCtrl">
<h3 class="ui black header">
  <div class="sub header">{{groupName}} {{messages}}</div>
  <div class="sub header">{{title}}</div>
</h3>
      <!-- group information --> 
      <select ui-select2 ng-model="papers.groupCode" data-placeholder="그룹선택" ng-required="true">
          <option value=""></option>
          <option ng-repeat="group in groupinfo" value="{{group.code}}">{{group.name}}</option>
      </select>     
      <!-- end of group information --> 
      <!-- paper list -->
        <div class="ui divided selection list">
        <ul class = "unstyled">
        <span ng-repeat="paper in paperlist">
          <a class="item">
            <div class="ui {{paper.status|color}} horizontal label" 
            ui-sref="app.question({ id: paper.paper_id})" ng-model="paper.status">{{paper.status}}</div>
             {{paper.paper_id}}.{{paper.paper_type_name}} - {{paper.start_date}}
          </a>
          </span>
          <!-- end of paper list --> 
          </ul>
        </div>
        <div class="access-center">
      <a class="ui blue submit button" ng-click="next()" ng-show="isManager">Next</a>
    </div>
</div>
</div>