<div class="main-content">
<div class="ui form segment">
<h3 class="ui black header">
  <div class="sub header">Open source conference</div>
  {{directives}}
</h3>
	<div class="ui divided selection list">
	  <a class="item" ng-repeat="items in questions">
	    <div class="ui blue horizontal label" ng-click="sendQuestion(items)">Select</div>
	     {{ items.question }}<br>
	   <pre><i class="thumbs up icon"></i>: {{voteRate}}  / <i class="users icon"></i>:{{totalUser}}</pre>
	   <progress percent="voteRate"></progress>
	  </a>
	</div>
	<div class="access-center">
      <a class="ui blue submit button" ng-click="next()" ng-show="isManager">Next</a>
    </div>
</div>
</div>