<div class="main-content">
<div class="ui form segment">
<h3 class="ui black header">
  <div class="sub header">2013 Open source conference ({{item.count}}/{{item.total}})</div>
  {{item.title}}
</h3>
	<div class="ui divided selection list">
	  <a class="item">
	  <div>
	    <div class="circular green ui button">만족함</div>
	    <div class="circular ui icon button rts">
		<i class="icon red settings"></i>67% </div>
		</div>
	  </a>
	  <a class="item">
	  <div>
	    <div class="circular green ui button">불만족함</div>
	    <div class="circular ui icon button rts">
		<i class="icon red settings"></i>10% </div>
		</div>
	  </a>
	  <a class="item">
	  <div>
	    <div class="circular green ui button">아주 만족함</div>
	    <div class="circular ui icon button rts">
		<i class="icon red settings"></i>5% </div>
		</div>
	  </a>
	  <a class="item">
	  <div>
	    <div class="circular green ui button">보통임</div>
	    <div class="circular ui icon button rts">
		<i class="icon red settings"></i>8% </div>
		</div>
	  </a>
	</div>
	<div class="access-center">
      <a class="ui blue submit button" ng-click="Next()">Next</a>
       <a class="ui red submit button" ng-click="Unlock()">UnLock</a>
    </div>
</div>
</div>