<div class="ui form inverted segment">
<div class="ui top attached label">Access Number</div>
<div class="field">
 <p class="access-text"> 68493
  </p>
 </div>
  <div class="field join-number">
    <div class="ui left labeled icon input">
      <input type="text" placeholder="Please, Input your access number.">
      <i class="user icon"></i>
      <div class="ui corner label">
        <i class="icon asterisk"></i>
      </div>
    </div>
  </div>
  <div class="field">
    <label>Input your phone number</label>
    <div class="ui left labeled icon input">
      <input type="text" placeholder="Please, Input your phone number!">
      <i class="user icon"></i>
      <div class="ui corner label">
        <i class="icon asterisk"></i>
      </div>
    </div>
  </div>
  <div class="ui error message">
    <div class="header">We noticed some issues</div>
  </div>
  <div class="access-center">
  <div class="ui form ux-center">
    <a class="ui blue submit button" ng-click="tryAccess()">OK</a>
    <a class="ui blue submit button" ng-click="cancelAccess()">Cancel</a>
   </div>
   </div>
</div>