<div class="ui form inverted segment">
<div class="ui top attached label">Access Number</div>
 <p class="access-text"> 456789 </p>
  <div class="field">
    <div class="ui left labeled icon input">
      <input type="text" placeholder="Please, Input your access number.">
      <i class="user icon"></i>
      <div class="ui corner label">
        <i class="icon asterisk"></i>
      </div>
    </div>
  </div>
  <div class="ui error message">
    <div class="header">We noticed some issues</div>
  </div>
  <div class="access-center">
  <div class="ui form ux-center">
  <a class="ui blue submit button" ng-click="tryaccess()">OK</a>
   </div>
   </div>
</div>