<div class="ui form inverted segment" ng-controller="JoinCtrl">
  <div class="field">
    <label>Username</label>
    <div class="ui left labeled icon input">
      <input type="text" placeholder="Username" ng-model="user.email">
      <i class="user icon"></i>
      <div class="ui corner label">
        <i class="icon asterisk"></i>
      </div>
    </div>
  </div>
  <div class="field">
    <label>Password</label>
    <div class="ui left labeled icon input">
      <input type="password" ng-model="user.password">
      <i class="lock icon"></i>
      <div class="ui corner label">
        <i class="icon asterisk"></i>
      </div>
    </div>
  </div>

  <!--<div class="ui form segment ux-center"> -->
    <div class="access-center" >
      <a class="ui blue submit button" ng-click="login()">Login</a>
      <a class="ui green submit button" ng-click="access()">Access</a>
    </div>

  <!-- </div> -->
    <div ng-show="user.errors">
      <div class="header">{{ user.errors }}</div>
    </div>
</div>
