<!--[if lt IE 7]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div style="background:gray;height:2px"></div>
<div class="wrapper main-top-title">
  
  <div class="main-title">
    <h1 class="ui header">
      RTS 
      <div class="ui red label">Beta</div>
      <span class="top-btn">
        <a class="ui yellow label" ui-sref="default.join" ng-show="!$state.is('default.join')">
          <i class="user icon">Join</i>
        </a>
  <a class="ui yellow label" ui-sref="default.welcome" ng-show="$state.is('default.join')">
     <i class="sign in icon">Login</i>
  </a>
  <a class="ui yellow label" ui-sref="app.paper" >
    <i class="setting icon"></i> setting
  </a>
  </span>
    </h1>
  </div>
  <div class="container" ui-view></div>
</div>
